.container{
    display: grid;
    /*height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 50px);
    column-gap: 10px;
    row-gap: 15px;
    gap: 20px;
    /*justify-items: center;
    align-items: center;
    justify-content: center;*/

    /* "  " */
    /* 3x4 */
    grid-template-areas: "pera pera pera pera"
    "peralima peralima . perala"
    "peraraio peraraio peraraio peraraio";
}

.item{
    border: 1px solid #0c94e8;
    background-color: #A1998E;
}

.item-1{
    grid-area: pera;
}

.item-2{
    grid-area: peralima;
}

.item-3{
    grid-area: perala;
}

.item-4{
    grid-area: peraraio;
}

